swagger: '2.0'
info:
  title: Fortifi API
  version: '3.142.0'
  termsOfService: 'https://fortifi.io/legal/terms/api'
  description: >
    The second version of the Fortifi API is an exciting step forward towards

    making it easier for businesses to have open access to their data. We created it

    so that you can improve your business flows, and interact with your customers

    and data in more innovative ways.



    Build something great!



    Once you've

    [registered your service account](https://yourdomain.fortifi.cloud/developers/service-accounts/) it's easy

    to start requesting and posting data to and from Fortifi.



    All endpoints are only accessible via https and are located at

    `api.fortifi.io`. For instance: you can grab a list of all your brands

    by accessing the following URL with your Access Token

    (replace ACCESS_TOKEN with your own):

    ```
      https://api.fortifi.io/v1/brands?access_token=ACCESS_TOKEN

    ```

    For non-GET requests, you must pass your ACCESS_TOKEN in the Authorization header else you will get an access denied
    response

    ```
        Authorization: Bearer ACCESS_TOKEN

    ```


    ## Limits

    Be nice. If you're sending too many requests too quickly, we'll send back a

    `503` error code (server unavailable).

    You are limited to 5000 requests per hour per `access_token`.



    ## Request Methods

    We do our best to have all URLs

    [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer).

    Every endpoint (URL) may support one of four different http verbs. GET

    requests fetch information about an object, POST requests create objects,

    PUT requests update objects, and finally DELETE requests will delete

    objects.



    ## Structure



    ### The Envelope

    Every response is contained by an envelope. That is, each response has a

    predictable set of keys with which you can expect to interact:

    ```json

    {
        'meta': {
            'code': 200
        },
        'data': {
            ...
        }
    }

    ```



    #### META

    The meta key is used to communicate extra information about the response to

    the developer. If all goes well, you'll only ever see a code key with

    value 200.

    However, sometimes things go wrong, and in that case you might see a

    response like:

    ```json

    {
        'meta': {
            'type': 'OAuthException',
            'code': 400,
            'message': '...'
        }
    }

    ```


    #### DATA

    The data key is the meat of the response. It may be a list or dictionary,

    but either way this is where you'll find the data you requested.

    #### JSONP

    If you're writing an AJAX application, and you'd like to wrap our response

    with a callback, all you have to do is specify a callback parameter with

    any API call:

    ```

    https://api.fortifi.io/v1/brands?access_token=ACCESS_TOKEN&callback=callbackFunction

    ```

    Would respond with:

    ```js

    callbackFunction({
        ...
    });

    ```
host: api.fortifi.io
schemes:
  - https
basePath: /v1
produces:
  - application/json
consumes:
  - application/json

externalDocs:
  description: Find out more about the Fortifi api
  url: https://docs.fortifi.io/

securityDefinitions:
  OAuth:
    type: oauth2
    tokenUrl: 'https://api.fortifi.io/oauth/token'
    flow: password
    scopes:
      'basic': Basic Read Access
      'visitor': Read/Write On Visitors
      'advertiser': Read/Write On Advertisers
      'customer': Read/Write On Customers
      'customer.readonly': Read Only on Customers
      'entity.properties': Read/Write On Entity Properties
      'entity.config': Read/Write On Entity Configuration
      'orders': Read/Write On Orders
      'orders.readonly': Read Only On Orders
      'products': Read/Write On Products
      'entity.events': Read/Write on Events
      'payment.methods': Read/Write On Payment Methods
      'contact': Read/Write On Contacts
      'polymer.readonly': Read Polymers
      'polymer': Read/Write On Polymers
      'product.readonly': Read Product Information
      'product': Read/Write On Products
      'purchase.readonly': Read Only on purchases
      'support': Read/Write On Support
      'support.readonly': Read Only on Support
      'reasons': Read/Write On reasons
      'reasons.readonly': Read Only on reasons
      'configuration.readonly': Read only for configuration
      'reservations': Read/Write reservations

  accessToken:
    type: apiKey
    in: query
    name: access_token

tags:
  - name: Authentication
  - name: Brands
  - name: Marketing
  - name: Customers
  - name: Entities
  - name: Orders
  - name: Payment Methods
  - name: Custom Properties
  - name: Configuration
  - name: Contacts
  - name: Polymers
  - name: Messenger
  - name: Products
  - name: Licence
  - name: Support
  - name: Service Status
  - name: Reasons
  - name: Events
  - name: Deprecated
  - name: Labels
  - name: Reservations
  - name: Finance

paths:
  '/account/verification':
    post:
      summary: Main Entry for Verification
      tags:
        - Account
      security:
        - OAuth:
            - account
        - accessToken: [ ]
      parameters:
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/AccountVerificationPayload'
      responses:
        200:
          description: Account Verification
          schema:
            $ref: '#/definitions/AccountVerificationResponse'
        x-404:
          description: Failed Account Verification
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  /accountant/transaction/search:
    post:
      tags:
        - Accountant
      security:
        - OAuth:
            - basic
        - accessToken: [ ]
      summary: Find an Account Transaction
      description: |
        Find an Account Transaction based on purchase information
      parameters:
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/FindTransactionPayload'
      responses:
        200:
          description: Find Transaction Response
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/FindTransactionResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  /advertisers:
    post:
      deprecated: true
      summary: Create a new advertiser
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - Deprecated
      parameters:
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAdvertiserPayload'
      responses:
        200:
          description: Advertiser Created
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: |
            Invalid data supplied
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    get:
      deprecated: true
      summary: List advertisers
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - Deprecated
      parameters:
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: List of advertisers
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Advertisers'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /advertisers/{advertiserFid}:
    get:
      deprecated: true
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - Deprecated
      summary: Retrieve an advertiser
      parameters:
        - $ref: '#/parameters/advertiserFid'
      responses:
        200:
          description: Loaded Advertiser
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Advertiser'
        x-404:
          description: Advertiser not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /advertisers/{advertiserFid}/approved:
    put:
      deprecated: true
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - Deprecated
      summary: Set approved status on an advertiser
      parameters:
        - $ref: '#/parameters/advertiserFid'
      responses:
        200:
          description: Approved Advertiser
        x-404:
          description: Advertiser not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    delete:
      deprecated: true
      summary: Remove approved status on an advertiser
      tags:
        - Deprecated
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      parameters:
        - $ref: '#/parameters/advertiserFid'
      responses:
        200:
          description: Advertiser no longer approved
        x-404:
          description: Advertiser not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /advertisers/{advertiserFid}/campaigns:
    post:
      deprecated: true
      summary: Create a new advertiser campaign
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - Deprecated
      parameters:
        - $ref: '#/parameters/advertiserFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAdvertiserCampaignPayload'
      responses:
        200:
          description: Campaign Created
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Invalid data supplied
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /advertisers/{advertiserFid}/campaigns/{advertiserCampaignFid}:
    get:
      deprecated: true
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - Deprecated
      summary: Retrieve an advertiser campaign
      parameters:
        - $ref: '#/parameters/advertiserFid'
        - $ref: '#/parameters/advertiserCampaignFid'
      responses:
        200:
          description: Loaded Campaign
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/AdvertiserCampaign'
        x-404:
          description: Campaign not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  /appstore/{customerFid}/google:
    post:
      tags:
        - Appstore
      security:
        - OAuth:
            - basic
        - accessToken: [ ]
      summary: Post a new Google notification
      description: |
        Post a new Google notification.
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateGoogleNotificationPayload'
      responses:
        200:
          description: Bool Response
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/BoolMessage'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /appstore/{customerFid}/apple:
    post:
      tags:
        - Appstore
      security:
        - OAuth:
            - basic
        - accessToken: [ ]
      summary: Post a new Apple notification
      description: |
        Post a new Apple notification.
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAppleNotificationPayload'
      responses:
        200:
          description: Bool Response
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/BoolMessage'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/attachment/{entityFid}':
    post:
      summary: Create An Attachment
      tags:
        - attachment
      security:
        - OAuth:
            - attachment
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/entityFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAttachmentPayload'
      responses:
        200:
          description: Attachment Successfully Created
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/BoolMessage'
        x-400:
          description: Couldn't Create Attachment
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  /brands:
    get:
      tags:
        - Brands
      security:
        - OAuth:
            - basic
        - accessToken: []
      summary: Your Brand
      operationId: getBrands
      description: |
        Retrieve a list of all the brands within your Fortifi account
      responses:
        200:
          description: Brand Information
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Brands'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  /presetChat:
    post:
      summary: Create a Preset Chat Instance
      tags:
        - Chat
      security:
        - OAuth:
            - chat
        - accessToken: [ ]
      parameters:
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePresetChatSessionPayload'
      responses:
        200:
          description: Device created/updated
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PresetChatSessionLink'
        x-400:
          description: Information provided is not valid
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /presetChat/{sessionId}:
    get:
      summary: Get a Preset Chat by ID
      tags:
        - Chat
      security:
        - OAuth:
            - chat
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/sessionId'
      responses:
        200:
          description: Preset Chat Session
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PresetChatSession'
        x-404:
          description: Preset Chat not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  /comments:
    post:
      summary: Apply a comment/note against a data-node
      tags:
        - Comments
      security:
        - OAuth:
            - comments
        - accessToken: [ ]
      parameters:
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCommentPayload'
      responses:
        200:
          description: Comment/Note created
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CommentResponse'
        x-400:
          description: Information provided is not valid
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  /contacts/findByReference/{contactReference}:
    get:
      summary: Find a person with a reference
      tags:
        - Contacts
      security:
        - OAuth:
            - contact
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/contactReference'
      responses:
        200:
          description: Person info
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Person'
        x-404:
          description: Person not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/emails/{emailAddress}/confirm':
    put:
      summary: Confirm email address
      tags:
        - Contacts
      security:
        - OAuth:
            - contact
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/emailAddress'
      responses:
        200:
          description: Email Address Confirmed
        x-404:
          description: Email Address not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/emails/{emailAddress}/unsubscribe':
    put:
      summary: Unsubscribe an email address
      tags:
        - Contacts
      security:
        - OAuth:
            - contact
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/emailAddress'
        - $ref: '#/parameters/unsubscribeType'
        - name: brandFid
          in: formData
          type: string
          description: Brand to unsubscribe the email address from
        - name: groupFid
          in: formData
          type: string
          description: Group to unsubscribe the email address from
      responses:
        200:
          description: Email Address Unsubscribed
        x-404:
          description: Email Address not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/emails/{emailAddress}/subscribe':
    put:
      summary: Subscribe an email address
      tags:
        - Contacts
      security:
        - OAuth:
            - contact
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/emailAddress'
        - name: brandFid
          in: formData
          type: string
          description: Brand to subscribe the email address from
        - name: groupFid
          in: formData
          type: string
          description: Group to unsubscribe the email address from
        - $ref: '#/parameters/userAgent'
        - $ref: '#/parameters/encoding'
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/clientIp'
        - $ref: '#/parameters/optInStatus'
        - $ref: '#/parameters/optInData'
      responses:
        200:
          description: Email Address Subscribed
        x-404:
          description: Email Address not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/phone/{phoneNumber}/confirm':
    put:
      summary: Confirm phone number
      tags:
        - Contacts
      security:
        - OAuth:
            - contact
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/phoneNumber'
      responses:
        200:
          description: Phone Number Confirmed
        x-404:
          description: Phone Number not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/{contactFid}/addresses':
    get:
      summary: List contact addresses
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/contactFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/Addresses'
          description: List of addresses
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Add an address to a contact
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/contactFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddressPayload'
      responses:
        200:
          description: Address Added
        x-404:
          description: Contact not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/{contactFid}/addresses/{addressFid}':
    delete:
      summary: Remove an address from a contact
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/contactFid'
        - $ref: '#/parameters/addressFid'
      responses:
        200:
          description: Address removed
        x-404:
          description: Address or contact not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/{contactFid}/emails':
    get:
      summary: List contact emails
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/contactFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/Emails'
          description: List of emails
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Add an email address to a contact
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/contactFid'
        - name: emailAddress
          in: formData
          required: true
          type: string
        - name: setAsDefault
          in: formData
          required: false
          type: boolean
      responses:
        200:
          description: Email Added
        x-404:
          description: Contact not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/{contactFid}/emails/{emailFid}':
    delete:
      summary: Remove an email from a contact
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/contactFid'
        - $ref: '#/parameters/emailFid'
      responses:
        200:
          description: Email removed
        x-404:
          description: Email or contact not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/{contactFid}/phones':
    get:
      summary: List contact phones
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/contactFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/Phones'
          description: List of phones
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Add a phone number to a contact
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/contactFid'
        - name: phoneNumber
          in: formData
          required: true
          type: string
        - name: displayName
          in: formData
          type: string
        - name: setAsDefault
          in: formData
          required: false
          type: boolean
        - $ref: '#/parameters/optInStatus'
      responses:
        200:
          description: Phone Number Added
        x-404:
          description: Contact not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/{contactFid}/phones/{phoneFid}':
    delete:
      summary: Remove a phone
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/contactFid'
        - $ref: '#/parameters/phoneFid'
      responses:
        200:
          description: Phone removed
        x-404:
          description: Contact or phone not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/device/{hardwareId}/unsubscribe':
    put:
      summary: Unsubscribe a device
      tags:
        - Contacts
      security:
        - OAuth:
            - contact
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/hardwareId'
        - $ref: '#/parameters/unsubscribeType'
        - name: brandFid
          in: formData
          type: string
          description: Brand to unsubscribe the device from
        - name: groupFid
          in: formData
          type: string
          description: Group to unsubscribe the device from
        - name: entityFid
          in: formData
          type: string
          description: Entity to unsubscribe the device from (Fid)
      responses:
        200:
          description: Device Unsubscribed
        x-404:
          description: Device not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/contacts/device/{hardwareId}/subscribe':
    put:
      summary: Subscribe an device
      tags:
        - Contacts
      security:
        - OAuth:
            - contact
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/hardwareId'
        - name: brandFid
          in: formData
          type: string
          description: Brand to subscribe the device to
        - name: groupFid
          in: formData
          type: string
          description: Group to subscribe the device to
        - name: entityFid
          in: formData
          type: string
          description: Customer or Contact Fid linked to device (Fid)
        - $ref: '#/parameters/userAgent'
        - $ref: '#/parameters/encoding'
        - $ref: '#/parameters/language'
        - $ref: '#/parameters/clientIp'
        - $ref: '#/parameters/optInStatus'
        - $ref: '#/parameters/optInData'
      responses:
        200:
          description: Device Subscribed
        x-404:
          description: Device not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/customers/{customerFid}/payments/{paymentFid}/chargeback':
    post:
      summary: Initiate a chargeback on a payment
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentFid'
        - name: dateSubmitted
          type: string
          format: date-time
          in: formData
          required: true
          description: Date the chargeback was received (Time in ISO 8601 standard with optional fractions of a second e.g 2015-12-05T13:11:59.888Z)
        - name: reasonCode
          type: string
          in: formData
          required: true
          description: Chargeback Reason Code (see https://github.com/packaged/rwd/blob/master/src/Finance/Chargeback/ChargebackReasonHelper.php)
        - name: caseNumber
          type: string
          in: formData
          required: true
          description: Case Number
        - name: amount
          type: number
          format: float
          in: formData
          required: true
          description: Disputed Amount
        - $ref: '#/parameters/chargebackState'
        - $ref: '#/parameters/chargebackSource'
        - name: refunded
          type: boolean
          in: formData
          required: true
          description: If this payment has been refunded by the alert
        - name: description
          type: string
          in: formData
          required: false
          description: Notes
        - name: feeCurrency
          type: string
          in: formData
          required: false
          description: 3 Character Currency code for the fee
        - name: feeAmount
          type: number
          format: float
          in: formData
          required: false
          description: Fee Amount
      responses:
        200:
          description: Chargeback Opened
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Invalid Payload
        x-404:
          description: Invalid Payment Fid
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/chargebacks/{chargebackFid}':
    put:
      summary: Action a chargeback
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: chargebackFid
          in: path
          type: string
          required: true
          description: Chargeback FID to use
        - name: reasonCode
          type: string
          in: formData
          required: true
          description: Chargeback Reason Code (see https://github.com/packaged/rwd/blob/master/src/Finance/Chargeback/ChargebackReasonHelper.php)
        - name: caseNumber
          type: string
          in: formData
          required: true
          description: Case Number
        - $ref: '#/parameters/chargebackState'
        - name: refunded
          type: boolean
          in: formData
          required: true
          description: If this payment has been refunded by the alert
        - name: description
          type: string
          in: formData
          required: false
          description: Notes
      responses:
        200:
          description: Chargeback Actioned
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/BoolMessage'
        x-400:
          description: Invalid Payload
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/customers/{customerFid}/contacts':
    get:
      summary: List of people
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: List of people
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/People'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Create a new contact for a customer
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
        - application/json
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCustomerContactPayload'
      responses:
        200:
          description: FID of the new contact
        x-404:
          description: Customer not found
        x-409:
          description: Conflict
        default:
          description: Error
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'

  '/customers/{customerFid}/contacts/{contactFid}':
    put:
      summary: Update a contacts information
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/contactFid'
        - name: prefix
          in: formData
          required: false
          description: Prefix
          type: string
        - name: firstName
          in: formData
          required: false
          description: First Name
          type: string
        - name: middleNames
          in: formData
          required: false
          description: Middle Names
          type: string
        - name: lastName
          in: formData
          required: false
          description: Last Name
          type: string
        - name: suffix
          in: formData
          required: false
          description: Suffix
          type: string
        - name: nickname
          in: formData
          required: false
          description: Nickname
          type: string
        - name: birthday
          in: formData
          required: false
          description: Birthday
          type: string
        - name: jobTitle
          in: formData
          required: false
          description: Job Title
          type: string
        - name: defaultEmailFid
          in: formData
          required: false
          description: Default Email FID
          type: string
        - name: defaultPhoneFid
          in: formData
          required: false
          description: Default Phone FID
          type: string
        - name: defaultAddressFid
          in: formData
          required: false
          description: Default Address FID
          type: string
        - name: externalReference
          in: formData
          required: false
          description: External Reference
          type: string
      responses:
        200:
          description: Contact Updated
        x-404:
          description: Contact or Customer not found
        x-409:
          description: Conflict
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    get:
      summary: Retrieve information about a contact
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/contactFid'
        - name: allAddresses
          in: query
          required: false
          description: Load all addresses
          type: boolean
        - name: allEmails
          in: query
          required: false
          description: Load all emails
          type: boolean
        - name: allPhones
          in: query
          required: false
          description: Load all phones
          type: boolean
      responses:
        200:
          description: Contact Info
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Person'
        x-404:
          description: Contact or Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    delete:
      summary: Remove a contact
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/contactFid'
      responses:
        200:
          description: Contact removed
        x-404:
          description: Contact or Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/customers/{customerFid}/addresses':
    get:
      summary: List customers addresses
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/Addresses'
          description: List of addresses
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Add an address to a customer
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddressPayload'
      responses:
        200:
          description: Address Added
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/addresses/{addressFid}':
    delete:
      summary: Remove an address
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/addressFid'
      responses:
        200:
          description: Address removed
        x-404:
          description: Address not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/emails':
    get:
      summary: List customers emails
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/Emails'
          description: List of emails
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Add an email address to a customer
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: emailAddress
          in: formData
          required: true
          type: string
        - name: setAsDefault
          in: formData
          required: false
          type: boolean
      responses:
        200:
          description: Email Added
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/emails/{emailFid}':
    delete:
      summary: Remove an email
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/emailFid'
      responses:
        200:
          description: Email removed
        x-404:
          description: Email not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/phones':
    get:
      summary: List customers phones
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/Phones'
          description: List of phones
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Add a phone number to a customer
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: phoneNumber
          in: formData
          required: true
          type: string
        - name: displayName
          in: formData
          type: string
        - name: setAsDefault
          in: formData
          required: false
          type: boolean
        - $ref: '#/parameters/optInStatus'
      responses:
        200:
          description: Phone Number Added
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/phones/{phoneFid}':
    delete:
      summary: Remove a phone
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/phoneFid'
      responses:
        200:
          description: Phone removed
        x-404:
          description: Phone not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/customers/{customerFid}/chatSessions':
    get:
      summary: Retrieve chat sessions for customer
      tags:
        - Customers
      security:
        - OAuth:
            - customer
            - customer.readonly
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: Chat sessions
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/ChatSessions'
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/interactions':
    post:
      summary: Create an interaction
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/interactionType'
      responses:
        200:
          description: Create Interaction Response
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CreateInteraction'
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    get:
      summary: List Customer interactions
      tags:
        - Customers
        - Interaction
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/CustomerInteractions'
          description: List Customer Interactions
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/tickets':
    post:
      summary: Create a new support ticket
      description: >
        The attachments property is an array of unique filenames that have been created using ```/upload/uploadUrl```
      tags:
        - Customers
        - Support
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: subject
          in: formData
          required: true
          description: Subject of the support ticket
          type: string
        - name: content
          in: formData
          required: true
          description: Content of the support ticket
          type: string
        - name: recipient
          in: formData
          required: true
          description: Receiver email address e.g. support@yourdomain.com
          type: string
        - name: sender
          in: formData
          required: true
          description: Sender email address e.g. user@customer.com
          type: string
        - name: departmentFid
          in: formData
          required: false
          description: Department FID
          type: string
        - name: attachments
          in: formData
          required: false
          type: array
          items:
            type: string
      responses:
        200:
          description: Ticket Created
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    get:
      summary: Get support tickets for customer
      tags:
        - Customers
        - Support
      security:
        - OAuth:
            - entity.config
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
        - name: sortDirection
          in: query
          description: 'Sort the tickets in a specific order (default: ASC)'
          required: false
          type: string
        - name: sortBy
          in: query
          description: 'Sort the tickets by a specific field (default: dateCreated)'
          required: false
          type: string
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Tickets'
          description: Ticket collection
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/tickets/{ticketFid}/posts/{ticketPostTimestamp}/attachments':
    get:
      summary: Get attachments for a ticket post
      tags:
        - Customers
        - Support
      security:
        - OAuth:
            - entity.config
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/ticketFid'
        - $ref: '#/parameters/ticketPostTimestamp'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Attachments'
          description: List of ticket attachments
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/tickets/{ticketFid}/posts':
    get:
      summary: Retrieve ticket posts for a ticket
      tags:
        - Customers
        - Support
      security:
        - OAuth:
            - entity.config
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/ticketFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20, max: 100)'
          required: false
          type: integer
        - name: beforeTimestamp
          in: query
          description: 'Show posts before timestamp'
          required: false
          type: integer
          format: int64
        - name: includeHtml
          in: query
          description: 'Respond with the html body as a part of the response'
          type: boolean
          required: false
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/TicketPosts'
          description: Ticket Data
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Post a reply to a ticket
      description: >
        The attachments property is an array of unique filenames that have been created using ```/upload/uploadUrl```
      tags:
        - Customers
        - Support
      security:
        - OAuth:
            - entity.config
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/ticketFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/TicketReplyPayload'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/TicketPost'
          description: Ticket Data
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/tickets/{ticketFid}':
    get:
      summary: Retrieve a single ticket for a customer
      tags:
        - Customers
        - Support
      security:
        - OAuth:
            - entity.config
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/ticketFid'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Ticket'
          description: Ticket Data
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/customers/{customerFid}/invoices':
    get:
      summary: List of invoice summaries for given customer
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: List of invoices summaries
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Invoices'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices/{invoiceFid}':
    get:
      summary: Retreive a specific itemised invoice
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/invoiceFid'
      responses:
        200:
          description: Loaded invoice
          schema:
            $ref: '#/definitions/Invoice'
        x-404:
          description: Invoice not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices/{invoiceFid}/download':
    get:
      summary: Retreive a specific itemised invoice PDF
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/invoiceFid'
        - name: filename
          in: query
          type: string
      responses:
        200:
          description: Download URL
          schema:
            $ref: '#/definitions/InvoiceDownloadResponse'
        x-404:
          description: Invoice not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices/retry':
    put:
      summary: Retry payment of all customer invoices which are in invoice
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Invoice set to retry payment
        x-404:
          description: Customer or Invoice not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices/{invoiceFid}/retry':
    put:
      summary: Retry payment of invoice
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/invoiceFid'
      responses:
        200:
          description: Invoice set to retry payment
        x-404:
          description: Customer or Invoice not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices/{invoiceFid}/creditNote':
    post:
      summary: Add a credit note to a customers invoice
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/invoiceFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/InvoiceCreditNotePayload'
      responses:
        200:
          description: Credit Note Added
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/InvoiceCreditNote'
        x-404:
          description: Invoice not found
        x-400:
          description: Issue adding credit note to invoice
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/customers/{customerFid}/accountStatus':
    put:
      summary: Update a customers status
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetAccountStatusPayload'
      responses:
        200:
          description: Customer Status Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/customers/{customerFid}/lifecycleStage':
    put:
      summary: Update a customers lifecycle stage
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: customerLifecycle
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Customer lifecycle updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/location':
    put:
      summary: Update a customers location
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetCustomerLocationPayload'
      responses:
        200:
          description: Customer Status Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/accountType':
    put:
      summary: Update a customers status
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetAccountTypePayload'
      responses:
        200:
          description: Customer Status Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptionType':
    put:
      summary: Update a customers status
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetSubscriptionTypePayload'
      responses:
        200:
          description: Customer Status Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/qualified':
    put:
      summary: Mark customer as qualified, this action cannot be undone.
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/isoTime'
      responses:
        200:
          description: Customer Marked
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/chargeback':
    put:
      summary: Mark customer as charged back, this action cannot be undone.
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/isoTime'
      responses:
        200:
          description: Customer Marked
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/fraud':
    put:
      summary: Mark customer as fraudulent, this action cannot be undone.
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/isoTime'
      responses:
        200:
          description: Customer Marked
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/purchased':
    put:
      summary: Mark customer as purchased, this action cannot be undone.
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/isoTime'
      responses:
        200:
          description: Customer Marked
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/loyal':
    put:
      summary: Set customer loyalty flag
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Customer Loyalty Acknowledged
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    delete:
      summary: Remove customer loyalty flag
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Customer No Longer Loyal
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/vip':
    put:
      summary: Set customer as VIP
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Customer Now VIP
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    delete:
      summary: Remove customer VIP Status
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Customer No Longer VIP
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/currency':
    put:
      summary: Set customer Currency
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: currency
          in: formData
          required: true
          description: Currency (ISO 4217, 3 Character Code)
          type: string
      responses:
        200:
          description: Customer Currency Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'



  '/customers/{customerFid}/linkVisitor':
    put:
      summary: Link visitor to customer record
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: visitorId
          in: formData
          required: true
          description: Visitors Id
          type: string
      responses:
        200:
          description: Visitor ID linked to customer
        x-404:
          description: Customer or visitor not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/externalReference':
    put:
      summary: Update a customers external reference
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: externalReference
          in: formData
          required: true
          description: New External Reference
          type: string
      responses:
        200:
          description: External Reference Updated
        x-404:
          description: Customer not found
        x-409:
          description: Conflict
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/customers/{customerFid}/note':
    post:
      summary: Save a note against a customer
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: note
          in: formData
          required: true
          description: Text content of note
          type: string
        - $ref: '#/parameters/noteColor'
      responses:
        200:
          description: Customer note saved
        x-400:
          description: Invalid Payload
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/customers/{customerFid}/paymentAccounts':
    get:
      summary: List customers payment accounts
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PaymentAccounts'
          description: List of payment accounts
        x-400:
          description: Error retrieving payment accounts
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/customers/{customerFid}/paymentAccounts/{paymentAccountFid}':
    get:
      summary: Retrieve payment account
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentAccountFid'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PaymentAccount'
          description: Payment Method Information
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods':
    get:
      summary: List customers payment methods
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PaymentMethods'
          description: List of payment methods
        x-400:
          description: Error retrieving payment methods
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/{paymentMethodFid}':
    get:
      summary: Retrieve a payment method
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentMethodFid'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PaymentMethodResponse'
          description: Payment Method Information
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    put:
      summary: Update a payment method
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentMethodFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/PaymentMethodUpdatePayload'
      responses:
        200:
          description: Payment Method Updated
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    delete:
      summary: Archive a payment method
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentMethodFid'
      responses:
        200:
          description: Payment Method Archived
        x-409:
          description: Payment Method In Use
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/paypal/initialise':
    post:
      summary: Initialise a new paypal agreement for existing subscriptions
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentServiceFid'
        - $ref: '#/parameters/subscriptionFids'
        - name: successUrl
          type: string
          in: formData
          required: true
        - name: cancelUrl
          type: string
          in: formData
          required: true
        - name: failUrl
          type: string
          in: formData
          required: true
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PaypalInit'
          description: Redirect instructions
        x-501:
          description: Inable to initialise Paypal agreement
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/paypal/complete':
    post:
      summary: Complete a paypal agreement created with initialise
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentServiceFid'
        - $ref: '#/parameters/subscriptionFids'
        - name: token
          type: string
          in: formData
          required: true
      responses:
        200:
          description: Successfully created agreement
        x-400:
          description: Failed to complete Paypal agreement
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/cards':
    get:
      summary: List customers card payment methods
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/PaymentCards'
          description: List of cards
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/cards/{cardFid}':
    delete:
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/cardFid'
      responses:
        200:
          description: Card Removed
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    put:
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/cardFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CardUpdatePayload'
      summary: Update a card
      responses:
        200:
          description: Card Updated
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/cards/{cardFid}/lock':
    post:
      tags:
        - Customers
        - Payment Methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/cardFid'
      responses:
        200:
          description: Card Locked
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/customers/{customerFid}/paymentMethods/createPending':
    post:
      summary: Create a new pending payment method
      security:
        - OAuth:
            - payment
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePendingPaymentMethodPayload'
      responses:
        200:
          description: Pending Payment Method Created
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: |
            Invalid data supplied
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/payments/{paymentFid}':
    get:
      summary: Retrieve a payment
      tags:
        - Customers
      security:
        - OAuth:
            - customer
            - customer.readonly
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentFid'
      responses:
        200:
          description: Loaded Payment
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Payment'
        x-404:
          description: Customer or payment not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/payments/{paymentFid}/refund':
    put:
      summary: Refund a payment
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentFid'
        - name: totalRefund
          in: formData
          required: true
          description: Total Refund
          type: number
        - name: reasonFid
          in: formData
          required: true
          description: Reason FID
          type: string
        - name: refundType
          in: formData
          required: true
          description: Refund Type
          type: string
        - name: addCreditToInvoice
          in: formData
          required: true
          description: Add Credit to Invoice
          type: boolean
      responses:
        200:
          description: Payment Refunded
        x-404:
          description: Payment Not Found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
  '/customers/{customerFid}/subscriptions':
    get:
      summary: List of subscription summaries for given customer
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: List of subscription summaries
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Subscriptions'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}':
    get:
      summary: Retreive a specific subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: Loaded subscription
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Subscription'
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    put:
      summary: Update a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: displayName
          in: formData
          required: false
          description: Name of the subscription
          type: string
        - name: description
          in: formData
          required: false
          description: Description for the subscription
          type: string
      responses:
        200:
          description: Subscription Updated
        x-403:
          description: Invalid customer specified for the subscription
        x-404:
          description: Subscription or Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/periods':
    get:
      summary: Retreive the periods for a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: A purchase period
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Periods'
        x-404:
          description: Purchase period not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/periods/{periodFid}/refund':
    put:
      summary: Refund a subscription period
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - $ref: '#/parameters/periodFid'
        - name: refundAmount
          in: formData
          type: number
        - name: reason
          in: formData
          type: string
        - name: addCreditToInvoice
          in: formData
          type: boolean
      responses:
        200:
          description: Refund Actioned
        x-404:
          description: Purchase period not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/enableAutoCharge':
    put:
      summary: Enable auto charge on specific subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: Auto charge enabled
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/disableAutoCharge':
    put:
      summary: Disable auto charge on specific subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: Auto charge disabled
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/autoCancelDays':
    put:
      summary: Set auto cancel days on a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: days
          in: formData
          required: true
          type: number
          format: int32
      responses:
        200:
          description: Auto cancel days set
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/autoSuspendDays':
    put:
      summary: Set auto suspend days on a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: days
          in: formData
          required: true
          type: number
          format: int32
      responses:
        200:
          description: Auto suspend days set
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/setAdvanceDays':
    put:
      summary: Set advance days on a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: days
          in: formData
          required: true
          type: number
          format: int32
      responses:
        200:
          description: Advance days set
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/customers/{customerFid}/subscriptions/{subscriptionFid}/renewalMode':
    put:
      summary: Set the renewal mode of a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: renewalMode
          in: formData
          required: true
          type: string
        - name: reason
          in: formData
          type: string
        - name: note
          in: formData
          type: string
      responses:
        200:
          description: Renewal mode set
        x-400:
          description: Invalid payload
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/setParentSubscription':
    put:
      summary: Set parent subscription on a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: parentSubscriptionFid
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Parent subscription set
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Cannot create cyclic reference
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/calculateModification':
    put:
      summary: Calculates the changes before a modification to a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifySubscriptionPayload'
      responses:
        200:
          description: Calculated result of modification
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CalculatedSubscriptionModification'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription or Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/calculateRefund':
    put:
      summary: Calculates the result of a potential refund on a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CalculateRefundPayload'
      responses:
        200:
          description: Returns calculated refund amounts
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CalculateSubscriptionRefund'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/customers/{customerFid}/subscriptions/{subscriptionFid}/setPaymentAccount':
    put:
      summary: Set paymentAccount for subscription. If changing a payment method from an Automatic Payment Method such as PayPal Recurring Payments, any other subscriptions paid with the same Agreement will be set to Default Payment Method and the Agreement will be cancelled
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: paymentAccountFid
          in: formData
          type: string
      responses:
        200:
          description: New payment method set
        x-404:
          description: Subscription or PaymentAccount not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/modify':
    put:
      summary: Modify an existing subscription with a new price. Returns new open order to be completed
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifySubscriptionPayload'
      responses:
        200:
          description: Created new open order
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Order'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/updateRenewalPrice':
    put:
      summary: Modify an existing subscription with a new price which will be used for the next renewal
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: priceFid
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Subscription price updated
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/applyOffer':
    put:
      summary: Apply an offer to a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: offerFid
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Offer applied
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/preRenew':
    put:
      summary: Pre-renew an existing subscription with a different price. Returns new open order to be completed
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: priceFid
          in: formData
          required: true
          description: Price FID
          type: string
      responses:
        200:
          description: Created new open order
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/cancel':
    put:
      summary: Cancel a subscripion. Returns subscription FID.
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SubscriptionCancelPayload'
      responses:
        200:
          description: Subscription cancelled
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/SubscriptionCancellation'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/reactivate':
    put:
      summary: Reactivate a subscription. Returns subscription FID.
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: Subscription reactivated
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/allocations':
    get:
      summary: Retreive a subscriptions resource allocations
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: Loaded allocations
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/ResourceAllocations'
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/cancelFlow/reasons':
    get:
      summary: Retreive the available cancellation reasons for a subscription
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: Cancel Flow Reasons
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CancelFlowReasons'
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/cancelFlow/{flowSearch}/abandon':
    put:
      summary: Abandon a cancel flow
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - $ref: '#/parameters/flowSearch'
      responses:
        200:
          description: Cancel Flow State
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CancelFlowState'
        x-404:
          description: Flow not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/cancelFlow':
    get:
      summary: Retreive a list of active cancel flows
      tags:
        - Customers
      security:
        - OAuth:
            - customer
        - accessToken: [ ]
      parameters:
[...]
