swagger: '2.0'
info:
  title: Fortifi API
  version: '3.17.1'
  termsOfService: 'http://fortifi.io/legal/terms/api'
  description: >
    The second version of the Fortifi API is an exciting step forward towards

    making it easier for businesses to have open access to their data. We created it

    so that you can improve your business flows, and interact with your customers

    and data in more innovative ways.



    Build something great!



    Once you've

    [registered your service account](http://yourdomain.fortifi.it/developers/service-accounts/) it's easy

    to start requesting and posting data to and from Fortifi.



    All endpoints are only accessible via https and are located at

    `api.fortifi.io`. For instance: you can grab a list of all your brands

    by accessing the following URL with your Access Token

    (replace ACCESS_TOKEN with your own):

    ```
      https://api.fortifi.io/v1/brands?access_token=ACCESS_TOKEN

    ```


    ## Limits

    Be nice. If you're sending too many requests too quickly, we'll send back a

    `503` error code (server unavailable).

    You are limited to 5000 requests per hour per `access_token`.



    ## Request Methods

    We do our best to have all URLs

    [RESTful](http://en.wikipedia.org/wiki/Representational_state_transfer).

    Every endpoint (URL) may support one of four different http verbs. GET

    requests fetch information about an object, POST requests create objects,

    PUT requests update objects, and finally DELETE requests will delete

    objects.



    ## Structure



    ### The Envelope

    Every response is contained by an envelope. That is, each response has a

    predictable set of keys with which you can expect to interact:

    ```json

    {
        'meta': {
            'code': 200
        },
        'data': {
            ...
        }
    }

    ```



    #### META

    The meta key is used to communicate extra information about the response to

    the developer. If all goes well, you'll only ever see a code key with

    value 200.

    However, sometimes things go wrong, and in that case you might see a

    response like:

    ```json

    {
        'meta': {
            'type': 'OAuthException',
            'code': 400,
            'message': '...'
        }
    }

    ```


    #### DATA

    The data key is the meat of the response. It may be a list or dictionary,

    but either way this is where you'll find the data you requested.

    #### JSONP

    If you're writing an AJAX application, and you'd like to wrap our response

    with a callback, all you have to do is specify a callback parameter with

    any API call:

    ```

    https://api.fortifi.io/v1/brands?access_token=ACCESS_TOKEN&callback=callbackFunction

    ```

    Would respond with:

    ```js

    callbackFunction({
        ...
    });

    ```
host: api.fortifi.io
schemes:
  - https
basePath: /v1
produces:
  - application/json
consumes:
  - application/json
externalDocs:
  description: Find out more about the Fortifi api
  url: http://developers.fortifi.io/


tags:
  - name: Marketing
  - name: Customers
  - name: Entities
  - name: Orders
  - name: Custom Properties
  - name: Configuration
  - name: Contacts
  - name: Polymers
  - name: Messenger
  - name: Products
  - name: Licence
  - name: Support
  - name: ServiceStatus
  - name: Reasons

securityDefinitions:
  OAuth:
    type: oauth2
    authorizationUrl: 'https://api.fortifi.io/oauth/authorize'
    tokenUrl: 'https://api.fortifi.io/oauth/token'
    flow: accessCode
    scopes:
      'basic': Basic Read Access
      'visitor': Read/Write On Visitors
      'advertiser': Read/Write On Advertisers
      'customer': Read/Write On Customers
      'customer.readonly': Read Only on Customers
      'entity.properties': Read/Write On Entity Properties
      'entity.config': Read/Write On Entity Configuration
      'orders': Read/Write On Orders
      'orders.readonly': Read Only On Orders
      'products': Read/Write On Products
      'entity.events': Read/Write on Events
      'payment.methods': Read/Write On Payment Methods
      'contact': Read/Write On Contacts
      'polymer.readonly': Read Polymers
      'polymer': Read/Write On Polymers
      'product.readonly': Read Product Information
      'product': Read/Write On Products
      'purchase.readonly': Read Only on purchases
      'support': Read/Write On Support
      'support.readonly': Read Only on Support
      'reasons': Read/Write On reasons
      'reasons.readonly': Read Only on reasons
      'configuration.readonly': Read only for configuration

  accessToken:
    type: apiKey
    in: query
    name: access_token

paths:
  /version:
    get:
      security:
        - OAuth:
            - basic
        - accessToken: []
      summary: Current Version
      operationId: getVersion
      description: |
        Retrieve the current version of the Fortifi api
      responses:
        200:
          description: Version
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    type: string
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /svcauth/verify:
    post:
      summary: Verify service account / Get Access Token
      operationId: getServiceAuthToken
      description: |
        User service account credentials to retrieve an API token
      parameters:
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/ServiceAccountCredentialsPayload'
      responses:
        200:
          description: Token
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/AuthToken'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /me:
    get:
      security:
        - OAuth:
            - basic
        - accessToken: []
      summary: Current User
      operationId: getMe
      description: |
        Retrieve information about the current connected user (you)
      responses:
        200:
          description: User Information
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/User'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /organisation:
    get:
      security:
        - OAuth:
            - basic
        - accessToken: []
      summary: Current Organisation
      operationId: getOrganisation
      description: |
        Retrieve information about the current organisation
      responses:
        200:
          description: Organisation Information
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Organisation'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /brands:
    get:
      security:
        - OAuth:
            - basic
        - accessToken: []
      summary: Your Brand
      operationId: getBrands
      description: |
        Retrieve a list of all the brands within your Fortifi account
      responses:
        200:
          description: Brand Information
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Brands'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /advertisers:
    post:
      summary: Create a new advertiser
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - marketing
      parameters:
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAdvertiserPayload'
      responses:
        200:
          description: Advertiser Created
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: |
            Invalid data supplied
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    get:
      summary: List advertisers
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - marketing
      parameters:
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: List of advertisers
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Advertisers'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /advertisers/{advertiserFid}:
    get:
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - marketing
      summary: Retrieve an advertiser
      parameters:
        - $ref: '#/parameters/advertiserFid'
      responses:
        200:
          description: Loaded Advertiser
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Advertiser'
        x-404:
          description: Advertiser not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /advertisers/{advertiserFid}/approved:
    put:
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - marketing
      summary: Set approved status on an advertiser
      parameters:
        - $ref: '#/parameters/advertiserFid'
      responses:
        200:
          description: Approved Advertiser
        x-404:
          description: Advertiser not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    delete:
      summary: Remove approved status on an advertiser
      tags:
        - marketing
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      parameters:
        - $ref: '#/parameters/advertiserFid'
      responses:
        200:
          description: Advertiser no longer approved
        x-404:
          description: Advertiser not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /advertisers/{advertiserFid}/campaigns:
    post:
      summary: Create a new advertiser campaign
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - marketing
      parameters:
        - $ref: '#/parameters/advertiserFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAdvertiserCampaignPayload'
      responses:
        200:
          description: Campaign Created
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Invalid data supplied
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /advertisers/{advertiserFid}/campaigns/{advertiserCampaignFid}:
    get:
      security:
        - OAuth:
            - advertiser
        - accessToken: []
      tags:
        - marketing
      summary: Retrieve an advertiser campaign
      parameters:
        - $ref: '#/parameters/advertiserFid'
        - $ref: '#/parameters/advertiserCampaignFid'
      responses:
        200:
          description: Loaded Campaign
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/AdvertiserCampaign'
        x-404:
          description: Campaign not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/visitors/{visitorId}':
    get:
      security:
        - OAuth:
            - visitor
        - accessToken: []
      tags:
        - marketing
      summary: Retrieve information about a visitor
      description: This call will return information related to how a visitor arrived
      parameters:
        - $ref: '#/parameters/visitorId'
      responses:
        200:
          description: Pixels
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/VisitorResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/visitors/{visitorId}/pixels':
    get:
      security:
        - OAuth:
            - visitor
        - accessToken: []
      tags:
        - marketing
      summary: Retrieve pending pixels for this visitor
      description: This call will release pixels from the pending queue on read
      parameters:
        - $ref: '#/parameters/visitorId'
      responses:
        200:
          description: Pixels
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    type: array
                    items:
                      $ref: '#/definitions/AdvertiserPixel'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/visitors/{visitorId}/actions/{actionKey}':
    post:
      summary: Track an action
      tags:
        - marketing
      description: |
        Track an action such as a lead or acquisition
      security:
        - OAuth:
            - visitor
        - accessToken: []
      parameters:
        - $ref: '#/parameters/visitorId'
        - name: actionKey
          description: Action key of the action to track e.g. lead
          in: path
          required: true
          type: string
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/PostActionPayload'

      responses:
        200:
          description: Action Tracked
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/VisitorPostAction'
        x-409:
          description: |
            The transaction ID specified has already been used for this action
        x-400:
          description: |
            Not enough information was provided to complete your request
            e.g. Missing Visitor ID and/or Client IP
        x-404:
          description: |
            The actionKey specified does not exist
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/visitors/{visitorId}/actions/{actionKey}/reverse':
    post:
      summary: Reverse a previously tracked action
      tags:
        - marketing
      description: |
        When an action has been reversed, e.g. cancelled, refunded
      security:
        - OAuth:
            - visitor
        - accessToken: []
      parameters:
        - $ref: '#/parameters/visitorId'
        - name: actionKey
          description: Action key of the action to reverse e.g. lead
          in: path
          required: true
          type: string
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/ReverseActionPayload'

      responses:
        200:
          description: Action Reversed
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/VisitorReversalAction'
        x-404:
          description: |
            The action you are trying to reverse cannot be found
        x-409:
          description: |
            The action specified has already been reversed
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /pay/publicKey:
    get:
      summary: Get the public key needed to encrypt a credit card number
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - name: format
          in: query
          description: Format for the generated key xml, raw, pkcs1 or pkcs8.
          type: string
      responses:
        200:
          description: RSA Public Key
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PubKey'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /pay/coinbase:
    get:
      summary: Get a new checkout ID
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - name: orderFID
          in: query
          description: FID of the order for which to retrieve a checkout ID
          type: string
      responses:
        200:
          description: Coinbase checkout ID
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CoinbaseCheckout'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /customers:
    post:
      summary: Create a new customer
      security:
        - OAuth:
            - customer
        - accessToken: []
      tags:
        - customers
      parameters:
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCustomerPayload'
      responses:
        200:
          description: Customer Created
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Customer'
        x-404:
          description: |
            The brand Fid you are trying to add a customer to does not exist
        x-409:
          description: |
            The external reference has already been used to create a customer
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /customers/findByReference:
    get:
      security:
        - OAuth:
            - customer
            - customer.readonly
        - accessToken: []
      tags:
        - customers
      summary: Find a customer by your reference
      parameters:
        - name: reference
          in: query
          description: Your reference for the customer
          type: string
      responses:
        200:
          description: Located Customer
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Customer'
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}':
    get:
      security:
        - OAuth:
            - customer
            - customer.readonly
        - accessToken: []
      tags:
        - customers
      summary: Retrieve a customer
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Loaded Customer
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Customer'
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    put:
      security:
        - OAuth:
            - customer
            - customer.readonly
        - accessToken: []
      tags:
        - customers
      summary: Update a customer
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: firstName
          in: formData
          type: string
        - name: lastName
          in: formData
          type: string
      responses:
        200:
          description: Customer Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    delete:
      security:
        - OAuth:
            - customer
        - accessToken: []
      tags:
        - customers
      summary: Archive a customer
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Customer Archived
        x-403:
          description: It is not possible to archive this customer
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/accountStatus':
    put:
      summary: Update a customers status
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetAccountStatusPayload'
      responses:
        200:
          description: Customer Status Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/lifecycleStage':
    put:
      summary: Update a customers lifecycle stage
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: customerLifecycle
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Customer lifecycle updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/note':
    post:
      summary: Save a note against a customer
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: note
          in: formData
          required: true
          description: Text content of note
          type: string
        - $ref: '#/parameters/noteColor'
      responses:
        200:
          description: Customer note saved
        x-400:
          description: Invalid Payload
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/location':
    put:
      summary: Update a customers location
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetCustomerLocationPayload'
      responses:
        200:
          description: Customer Status Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/accountType':
    put:
      summary: Update a customers status
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetAccountTypePayload'
      responses:
        200:
          description: Customer Status Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptionType':
    put:
      summary: Update a customers status
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetSubscriptionTypePayload'
      responses:
        200:
          description: Customer Status Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/qualified':
    put:
      summary: Mark customer as qualified, this action cannot be undone.
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/isoTime'
      responses:
        200:
          description: Customer Marked
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/chargeback':
    put:
      summary: Mark customer as charged back, this action cannot be undone.
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/isoTime'
      responses:
        200:
          description: Customer Marked
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/fraud':
    put:
      summary: Mark customer as fraudulent, this action cannot be undone.
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/isoTime'
      responses:
        200:
          description: Customer Marked
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/purchased':
    put:
      summary: Mark customer as purchased, this action cannot be undone.
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/isoTime'
      responses:
        200:
          description: Customer Marked
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/loyal':
    put:
      summary: Set customer loyalty flag
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Customer Loyalty Acknowledged
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    delete:
      summary: Remove customer loyalty flag
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Customer No Longer Loyal
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/vip':
    put:
      summary: Set customer as VIP
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Customer Now VIP
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    delete:
      summary: Remove customer VIP Status
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Customer No Longer VIP
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/currency':
    put:
      summary: Set customer Currency
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: currency
          in: formData
          required: true
          description: Currency (ISO 4217, 3 Character Code)
          type: string
      responses:
        200:
          description: Customer Currency Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/chatSessions':
    get:
      summary: Retrieve chat sessions for customer
      tags:
        - customers
      security:
        - OAuth:
            - customer
            - customer.readonly
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: Chat sessions
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/ChatSessions'
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/payments/{paymentFid}':
    get:
      summary: Retrieve a payment
      tags:
        - customers
      security:
        - OAuth:
            - customer
            - customer.readonly
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentFid'
      responses:
        200:
          description: Loaded Payment
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Payment'
        x-404:
          description: Customer or payment not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/payments/{paymentFid}/refund':
    put:
      summary: Refund a payment
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentFid'
        - name: totalRefund
          in: formData
          required: true
          description: Total Refund
          type: number
        - name: reasonFid
          in: formData
          required: true
          description: Reason FID
          type: string
        - name: refundType
          in: formData
          required: true
          description: Refund Type
          type: string
        - name: addCreditToInvoice
          in: formData
          required: true
          description: Add Credit to Invoice
          type: boolean
      responses:
        200:
          description: Payment Refunded
        x-404:
          description: Payment Not Found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/contacts':
    get:
      summary: List contacts
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: List of people
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/People'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Create a new contact for a customer
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: email
          in: formData
          required: false
          description: Email
          type: string
        - name: phone
          in: formData
          required: false
          description: Phone
          type: string
        - name: prefix
          in: formData
          required: false
          description: Prefix
          type: string
        - name: firstName
          in: formData
          required: false
          description: First Name
          type: string
        - name: middleNames
          in: formData
          required: false
          description: Middle Names
          type: string
        - name: lastName
          in: formData
          required: false
          description: Last Name
          type: string
        - name: suffix
          in: formData
          required: false
          description: Suffix
          type: string
        - name: nickname
          in: formData
          required: false
          description: Nickname
          type: string
        - name: birthday
          in: formData
          required: false
          description: Birthday
          type: string
        - name: jobTitle
          in: formData
          required: false
          description: Job Title
          type: string
        - name: address1
          in: formData
          required: false
          description: Address 1
          type: string
        - name: address2
          in: formData
          required: false
          description: Address 2
          type: string
        - name: address3
          in: formData
          required: false
          description: Address 3
          type: string
        - name: town
          in: formData
          required: false
          description: Town
          type: string
        - name: county
          in: formData
          required: false
          description: County
          type: string
        - name: country
          in: formData
          required: false
          description: Country
          type: string
        - name: postalCode
          in: formData
          required: false
          description: Postal Code
          type: string
      responses:
        200:
          description: FID of the new contact
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'

  '/customers/{customerFid}/contacts/{contactFid}':
    put:
      summary: Update a contacts information
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/contactFid'
        - name: prefix
          in: formData
          required: false
          description: Prefix
          type: string
        - name: firstName
          in: formData
          required: false
          description: First Name
          type: string
        - name: middleNames
          in: formData
          required: false
          description: Middle Names
          type: string
        - name: lastName
          in: formData
          required: false
          description: Last Name
          type: string
        - name: suffix
          in: formData
          required: false
          description: Suffix
          type: string
        - name: nickname
          in: formData
          required: false
          description: Nickname
          type: string
        - name: birthday
          in: formData
          required: false
          description: Birthday
          type: string
        - name: jobTitle
          in: formData
          required: false
          description: Job Title
          type: string
        - name: defaultEmailFid
          in: formData
          required: false
          description: Default Email FID
          type: string
        - name: defaultPhoneFid
          in: formData
          required: false
          description: Default Phone FID
          type: string
        - name: defaultAddressFid
          in: formData
          required: false
          description: Default Address FID
          type: string
      responses:
        200:
          description: Contact Updated
        x-404:
          description: Contact or Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    get:
      summary: Retrieve information about a contact
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/contactFid'
      responses:
        200:
          description: Contact Info
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CustomerContact'
        x-404:
          description: Contact or Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    delete:
      summary: Remove a contact
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/contactFid'
      responses:
        200:
          description: Contact removed
        x-404:
          description: Contact or Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/linkVisitor':
    put:
      summary: Link visitor to customer record
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: visitorId
          in: formData
          required: true
          description: Visitors Id
          type: string
      responses:
        200:
          description: Visitor ID linked to customer
        x-404:
          description: Customer or visitor not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/payments/{paymentFid}/chargeback':
    post:
      summary: Initiate a chargeback on a payment
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentFid'
        - name: dateSubmitted
          type: string
          format: date-time
          in: formData
          required: true
          description: Date the chargeback was received (Time in ISO 8601 standard with optional fractions of a second e.g 2015-12-05T13:11:59.888Z)
        - name: reasonCode
          type: string
          in: formData
          required: true
          description: Chargeback Reason Code (see https://github.com/packaged/rwd/blob/master/src/Finance/Chargeback/ChargebackReasonHelper.php)
        - name: caseNumber
          type: string
          in: formData
          required: true
          description: Case Number
        - name: amount
          type: number
          format: float
          in: formData
          required: true
          description: Disputed Amount
        - $ref: '#/parameters/chargebackState'
        - $ref: '#/parameters/chargebackSource'
        - name: refunded
          type: boolean
          in: formData
          required: true
          description: If this payment has been refunded by the alert
        - name: description
          type: string
          in: formData
          required: false
          description: Notes
        - name: feeCurrency
          type: string
          in: formData
          required: false
          description: 3 Character Currency code for the fee
        - name: feeAmount
          type: number
          format: float
          in: formData
          required: false
          description: Fee Amount
      responses:
        200:
          description: Chargeback Opened
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Invalid Payload
        x-404:
          description: Invalid Payment Fid
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/chargebacks/{chargebackFid}':
    put:
      summary: Action a chargeback
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: chargebackFid
          in: path
          type: string
          required: true
          description: Chargeback FID to use
        - name: reasonCode
          type: string
          in: formData
          required: true
          description: Chargeback Reason Code (see https://github.com/packaged/rwd/blob/master/src/Finance/Chargeback/ChargebackReasonHelper.php)
        - name: caseNumber
          type: string
          in: formData
          required: true
          description: Case Number
        - $ref: '#/parameters/chargebackState'
        - name: refunded
          type: boolean
          in: formData
          required: true
          description: If this payment has been refunded by the alert
        - name: description
          type: string
          in: formData
          required: false
          description: Notes
      responses:
        200:
          description: Chargeback Actioned
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/BoolMessage'
        x-400:
          description: Invalid Payload
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/tickets':
    post:
      summary: Create a new support ticket
      tags:
        - customers
        - support
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: subject
          in: formData
          required: true
          description: Subject of the support ticket
          type: string
        - name: content
          in: formData
          required: true
          description: Content of the support ticket
          type: string
        - name: recipient
          in: formData
          required: true
          description: Receiver email address e.g. support@yourdomain.com
          type: string
        - name: sender
          in: formData
          required: true
          description: Sender email address e.g. user@customer.com
          type: string
        - name: departmentFid
          in: formData
          required: false
          description: Department FID
          type: string
      responses:
        200:
          description: Customer Currency Updated
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    get:
      summary: Get support tickets for customer
      tags:
        - customers
        - support
      security:
        - OAuth:
            - entity.config
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Tickets'
          description: Ticket collection
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/entities/{entityFid}/config/{sectionName}':
    delete:
      summary: Remove a config section, or property from an entity
      tags:
        - Configuration
      security:
        - OAuth:
            - entity.config
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/sectionName'
        - name: itemName
          in: formData
          type: string
      responses:
        200:
          description: Config Item Deleted
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    get:
      summary: Retrieve a config section
      tags:
        - Configuration
      security:
        - OAuth:
            - entity.config
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/sectionName'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/ConfigItems'
          description: List Of Config Items
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    post:
      summary: Write a config item
      tags:
        - Configuration
      security:
        - OAuth:
            - entity.config
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/sectionName'
        - name: itemName
          in: formData
          required: true
          type: string
        - name: value
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Config Item Saved
        x-400:
          description: Invalid Entity
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/entities/{entityFid}/config/{sectionName}/items/{itemName}':
    get:
      summary: Retrieve a config item
      tags:
        - Configuration
      security:
        - OAuth:
            - entity.config
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/sectionName'
        - $ref: '#/parameters/itemName'
      responses:
        200:
          description: Config Item
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/ConfigItem'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/entities/{entityFid}/attachments/uploadUrl':
    post:
      summary: Create an upload url
      security:
        - OAuth:
            - entity.attachments
        - accessToken: []
      tags:
        - entity
      parameters:
        - $ref: '#/parameters/entityFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/RequestUploadUrlPayload'
      responses:
        200:
          description: Attachment upload URL
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/AttachmentUrl'
        x-400:
          description: |
            Invalid data supplied
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/entities/{entityFid}/properties':
    put:
      summary: Write multiple entity properties
      tags:
        - Custom Properties
      security:
        - OAuth:
            - entity.properties
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/PropertyBulkSetPayload'
      responses:
        200:
          description: Properties Saved
        x-400:
          description: Invalid Entity
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/entities/{entityFid}/properties/values/{propertyName}':
    get:
      summary: Get a property value from an entity
      tags:
        - Custom Properties
      security:
        - OAuth:
            - entity.properties
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/propertyName'
      responses:
        200:
          description: Property Value
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PropertyValue'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    delete:
      summary: Remove a value property from an entity
      tags:
        - Custom Properties
      security:
        - OAuth:
            - entity.properties
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/propertyName'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/PropertyValuePayload'
      responses:
        200:
          description: Property Deleted
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    put:
      summary: Write an entity value property
      tags:
        - Custom Properties
      security:
        - OAuth:
            - entity.properties
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/propertyName'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/PropertyValuePayload'

      responses:
        200:
          description: Property Saved
        x-400:
          description: Invalid Entity
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/entities/{entityFid}/properties/flags/{propertyName}':
    delete:
      summary: Remove a flag from an entity
      tags:
        - Custom Properties
      security:
        - OAuth:
            - entity.properties
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/propertyName'

      responses:
        200:
          description: Property Deleted
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    put:
      summary: Write an entity flag
      tags:
        - Custom Properties
      security:
        - OAuth:
            - entity.properties
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/propertyName'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/PropertyFlagPayload'

      responses:
        200:
          description: Flag Saved
        x-400:
          description: Invalid Entity
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/entities/{entityFid}/properties/counters/{propertyName}':
    delete:
      summary: Remove a counter from an entity
      tags:
        - Custom Properties
      security:
        - OAuth:
            - entity.properties
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/propertyName'

      responses:
        200:
          description: Property Deleted
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/entities/{entityFid}/properties/counters/{propertyName}/increment':
    put:
      summary: Increment an entity counter
      tags:
        - Custom Properties
      security:
        - OAuth:
            - entity.properties
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/propertyName'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/PropertyCounterPayload'

      responses:
        200:
          description: Counter Incremented
        x-400:
          description: Invalid Entity
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/entities/{entityFid}/properties/counters/{propertyName}/decrement':
    put:
      summary: Decrement an entity counter
      tags:
        - Custom Properties
      security:
        - OAuth:
            - entity.properties
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - $ref: '#/parameters/propertyName'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/PropertyCounterPayload'

      responses:
        200:
          description: Counter Decremented
        x-400:
          description: Invalid Entity
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/entities/{entityFid}/events':
    post:
      summary: Trigger a new event
      security:
        - OAuth:
            - entity.events
        - accessToken: []
      parameters:
        - $ref: '#/parameters/entityFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/TriggerActionPayload'
      responses:
        200:
          description: Event Triggered
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentAccounts':
    get:
      summary: List customers payment accounts
      tags:
        - customers
        - payment.methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PaymentAccounts'
          description: List of payment accounts
        x-400:
          description: Error retrieving payment accounts
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/paypal/initialise':
    post:
      summary: Initialise a new paypal agreement for existing subscriptions
      tags:
        - customers
        - payment.methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentServiceFid'
        - $ref: '#/parameters/subscriptionFids'
        - name: successUrl
          type: string
          in: formData
          required: true
        - name: cancelUrl
          type: string
          in: formData
          required: true
        - name: failUrl
          type: string
          in: formData
          required: true
      responses:
        200:
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/PaypalInit'
          description: Redirect instructions
        x-501:
          description: Inable to initialise Paypal agreement
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/paypal/complete':
    post:
      summary: Complete a paypal agreement created with initialise
      tags:
        - customers
        - payment.methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/paymentServiceFid'
        - $ref: '#/parameters/subscriptionFids'
        - name: token
          type: string
          in: formData
          required: true
      responses:
        200:
          description: Successfully created agreement
        x-400:
          description: Failed to complete Paypal agreement
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/cards':
    post:
      summary: Add a new card
      tags:
        - customers
        - paymentMethods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CardDataPayload'
      responses:
        200:
          schema:
            $ref: '#/definitions/Fid'
          description: Credit card added to the customers account
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    get:
      summary: List customers card payment methods
      tags:
        - customers
        - payment.methods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/PaymentCards'
          description: List of cards
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/paymentMethods/cards/{cardFid}':
    delete:
      tags:
        - customers
        - paymentMethods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/cardFid'
      responses:
        200:
          description: Card Removed
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

    put:
      tags:
        - customers
        - paymentMethods
      security:
        - OAuth:
            - payment.methods
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/cardFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CardUpdatePayload'
      summary: Update a card
      responses:
        200:
          description: Card Updated
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/addresses':
    get:
      summary: List customers addresses
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          schema:
            $ref: '#/definitions/Addresses'
          description: List of addresses
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Add an address to a customer
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddressPayload'
      responses:
        200:
          description: Address Added
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/emails':
    post:
      summary: Add an email address to a customer
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: emailAddress
          in: formData
          required: true
          type: string
        - name: setAsDefault
          in: formData
          required: false
          type: boolean
      responses:
        200:
          description: Email Added
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/phones':
    post:
      security:
        - OAuth:
            - customer
        - accessToken: []
      summary: Add a phone number to a customer
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: phoneNumber
          in: formData
          required: true
          type: string
        - name: displayName
          in: formData
          type: string
        - name: setAsDefault
          in: formData
          required: false
          type: boolean
      responses:
        200:
          description: Phone Number Added
        x-404:
          description: Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices':
    get:
      summary: List of invoice summaries for given customer
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: List of invoices summaries
          schema:
            $ref: '#/definitions/Invoices'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices/{invoiceFid}':
    get:
      summary: Retreive a specific itemised invoice
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/invoiceFid'
      responses:
        200:
          description: Loaded invoice
          schema:
            $ref: '#/definitions/Invoice'
        x-404:
          description: Invoice not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices/retry':
    put:
      summary: Retry payment of all customer invoices which are in invoice
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Invoice set to retry payment
        x-404:
          description: Customer or Invoice not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices/{invoiceFid}/retry':
    put:
      summary: Retry payment of invoice
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/invoiceFid'
      responses:
        200:
          description: Invoice set to retry payment
        x-404:
          description: Customer or Invoice not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/invoices/{invoiceFid}/creditNote':
    post:
      security:
        - OAuth:
            - customer
        - accessToken: []
      summary: Add a credit note to a customers invoice
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/invoiceFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/InvoiceCreditNotePayload'
      responses:
        200:
          description: Credit Note Added
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/InvoiceCreditNote'
        x-404:
          description: Invoice not found
        x-400:
          description: Issue adding credit note to invoice
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions':
    get:
      summary: List of subscription summaries for given customer
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: limit
          in: query
          description: 'Maximum number of records per page (default: 20)'
          required: false
          type: integer
        - name: page
          in: query
          description: 'Page number (default: 1)'
          required: false
          type: integer
      responses:
        200:
          description: List of subscription summaries
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Subscriptions'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}':
    get:
      summary: Retreive a specific subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: Loaded subscription
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Subscription'
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/enableAutoCharge':
    put:
      summary: Enable auto charge on specific subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: Auto charge enabled
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/disableAutoCharge':
    put:
      summary: Disable auto charge on specific subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
      responses:
        200:
          description: Auto charge disabled
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/autoCancelDays':
    put:
      summary: Set auto cancel days on a subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: days
          in: formData
          required: true
          type: number
          format: int32
      responses:
        200:
          description: Auto cancel days set
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/autoSuspendDays':
    put:
      summary: Set auto suspend days on a subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: days
          in: formData
          required: true
          type: number
          format: int32
      responses:
        200:
          description: Auto suspend days set
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/setAdvanceDays':
    put:
      summary: Set advance days on a subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: days
          in: formData
          required: true
          type: number
          format: int32
      responses:
        200:
          description: Advance days set
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/customers/{customerFid}/subscriptions/{subscriptionFid}/renewalMode':
    put:
      summary: Set the renewal mode of a subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: renewalMode
          in: formData
          required: true
          type: string
        - name: reason
          in: formData
          type: string
        - name: note
          in: formData
          type: string
      responses:
        200:
          description: Renewal mode set
        x-400:
          description: Invalid payload
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/setParentSubscription':
    put:
      summary: Set parent subscription on a subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: parentSubscriptionFid
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Parent subscription set
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Cannot create cyclic reference
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/calculateModification':
    put:
      summary: Calculates the changes before a modification to a subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifySubscriptionPayload'
      responses:
        200:
          description: Calculated result of modification
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CalculatedSubscriptionModification'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription or Customer not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/calculateRefund':
    put:
      summary: Calculates the result of a potential refund on a subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CalculateRefundPayload'
      responses:
        200:
          description: Returns calculated refund amounts
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/CalculateSubscriptionRefund'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/customers/{customerFid}/subscriptions/{subscriptionFid}/setPaymentAccount':
    put:
      summary: Set paymentAccount for subscription. If changing a payment method from an Automatic Payment Method such as PayPal Recurring Payments, any other subscriptions paid with the same Agreement will be set to Default Payment Method and the Agreement will be cancelled
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: paymentAccountFid
          in: formData
          type: string
      responses:
        200:
          description: New payment method set
        x-404:
          description: Subscription or PaymentAccount not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/modify':
    put:
      summary: Modify an existing subscription with a new price. Returns new open order to be completed
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/ModifySubscriptionPayload'
      responses:
        200:
          description: Created new open order
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Order'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/updateRenewalPrice':
    put:
      summary: Modify an existing subscription with a new price which will be used for the next renewal
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: priceFid
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Subscription price updated
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/applyOffer':
    put:
      summary: Apply an offer to a subscription
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: offerFid
          in: formData
          required: true
          type: string
      responses:
        200:
          description: Offer applied
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/preRenew':
    put:
      summary: Pre-renew an existing subscription with a different price. Returns new open order to be completed
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: priceFid
          in: formData
          required: true
          description: Price FID
          type: string
      responses:
        200:
          description: Created new open order
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/subscriptions/{subscriptionFid}/cancel':
    put:
      summary: Cancel a subscripion. Returns subscription FID.
      tags:
        - customers
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - $ref: '#/parameters/subscriptionFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/SubscriptionCancelPayload'
      responses:
        200:
          description: Subscription cancelled
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Subscription'
        x-400:
          description: Invalid payload data
        x-404:
          description: Subscription not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/customers/{customerFid}/sar':
    post:
      summary: Subject Access Request
      tags:
        - customers
      description: |
        Initiate a Subject Access Request.  A URL will be sent via a webhook (CustomerWHE::SUBJECT_ACCESS_REQUEST), once the archive is ready for download
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
      responses:
        200:
          description: Subject Access Request
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/BoolMessage'
        x-400:
          description: Invalid payload data
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'


  '/customers/{customerFid}/anonymize':
    post:
      summary: Anonymize customer data
      tags:
        - customers
      description: |
        Anonymize customer data
      security:
        - OAuth:
            - customer
        - accessToken: []
      parameters:
        - $ref: '#/parameters/customerFid'
        - name: customer
          in: formData
          type: boolean
        - name: tickets
          in: formData
          type: boolean
        - name: chats
          in: formData
          type: boolean
        - name: orders
          in: formData
          type: boolean
        - name: emails
          in: formData
          type: boolean
        - name: phones
          in: formData
          type: boolean
        - name: addresses
          in: formData
          type: boolean
        - name: paymentAccounts
          in: formData
          type: boolean
      responses:
        200:
          description: Anonymize Request
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/BoolMessage'
        x-400:
          description: Invalid payload data
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /products:
    get:
      summary: List all products
      tags:
        - products
      security:
        - OAuth:
            - product.readonly
        - accessToken: []
      responses:
        200:
          description: Products retrieved
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Products'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/products/{productFid}/prices':
    get:
      summary: Retrieve Product Prices
      tags:
        - products
      security:
        - OAuth:
            - product.readonly
        - accessToken: []
      parameters:
        - $ref: '#/parameters/productFid'
        - name: currency
          in: formData
          required: false
          type: string
      responses:
        200:
          description: List of product prices
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/ProductPrices'
        x-404:
          description: Product not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/products/groups':
    get:
      summary: Get a list of all product groups
      tags:
        - products
      security:
        - OAuth:
            - product.readonly
        - accessToken: []
      responses:
        200:
          description: Products groups
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/ProductGroups'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/products/groups/{productGroupFid}/products':
    get:
      summary: Get a list of products belonging to the group
      tags:
        - products
      security:
        - OAuth:
            - product.readonly
        - accessToken: []
      parameters:
        - $ref: '#/parameters/productGroupFid'
      responses:
        200:
          description: Products
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Products'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  /orders:
    post:
      summary: Create a new order
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateOrderPayload'
      responses:
        200:
          description: Order created successfully
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Fid'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}':
    get:
      summary: Retrieve an order
      tags:
        - orders
      security:
        - OAuth:
            - orders.readonly
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
      responses:
        200:
          description: Order retrieved
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/Order'
        x-404:
          description: Order not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/verify':
    put:
      summary: Verify an order, returning any security urls
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/VerifyOrderPayload'
      responses:
        200:
          description: Order payment account verified
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/OrderVerification'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/cancel':
    put:
      summary: Cancel an order
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
      responses:
        200:
          description: Order cancelled
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/BoolMessage'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/finalize':
    put:
      summary: Mark an order as finalized
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/FinalizeOrderPayload'
      responses:
        200:
          description: Order Finalized
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/confirmCard':
    put:
      summary: Confirm an order, authorize the payment
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmCardOrderPayload'
      responses:
        200:
          description: Order confirmed and payment authroized
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/OrderConfirmation'
        x-503:
          description: There are no payment gateways available to handle your request
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/confirmPayPal':
    put:
      summary: Confirm an order, authorize the payment
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmPayPalOrderPayload'
      responses:
        200:
          description: Order confirmed and payment authroized
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/OrderConfirmation'
        x-503:
          description: There are no payment gateways available to handle your request
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/setChargeId':
    put:
      summary: Set a ChargeHive.com Charge ID on an order
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/orderFid'
        - name: chargeId
          in: formData
          required: true
          description: Charge ID provided by ChargeHive.com
          type: string
      responses:
        200:
          description: Charge ID Accepted
          schema:
            $ref: '#/definitions/Envelope'
        400:
          description: Invalid Charge ID
          schema:
            $ref: '#/definitions/Envelope'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/confirmNewCard':
    put:
      summary: Confirm an order with a new card, authorize the payment
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConfirmOrderWithNewCardPayload'
      responses:
        200:
          description: Order confirmed and payment authroized
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/OrderConfirmation'
        x-503:
          description: There are no payment gateways available to handle your request
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/fraudScan':
    get:
      summary: Retrieve fraud scan
      tags:
        - orders
      security:
        - OAuth:
            - orders.readonly
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
      responses:
        200:
          description: Fraud scan result
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/FraudScan'
        x-404:
          description: Fraud scan not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/products':
    get:
      summary: Retrieve order products
      tags:
        - orders
      security:
        - OAuth:
            - orders.readonly
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
      responses:
        200:
          description: List of order products
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/OrderProducts'
        x-404:
          description: Order not found
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    post:
      summary: Add a product to an order
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddOrderProductsPayload'
      responses:
        200:
          description: Product added to the order successfully
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/OrderAddProducts'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'
    put:
      summary: Set the products on an order
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
        - name: payload
          in: body
          required: true
          schema:
            $ref: '#/definitions/OrderProductsPayload'
      responses:
        200:
          description: Order products successfully updated
          schema:
            allOf:
              - $ref: '#/definitions/Envelope'
              - properties:
                  data:
                    $ref: '#/definitions/OrderAddProducts'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/products/{orderProductFid}':
    delete:
      summary: Remove a product from an order
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      parameters:
        - $ref: '#/parameters/orderFid'
        - $ref: '#/parameters/orderProductFid'
      responses:
        200:
          description: Product removed from the order successfully
        default:
          description: Error
          schema:
            $ref: '#/definitions/Envelope'

  '/orders/{orderFid}/products/{orderProductFid}/quantity':
    put:
      summary: Set the quantity of a product on an order
      tags:
        - orders
      security:
        - OAuth:
            - orders
        - accessToken: []
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/orderFid'
        - $ref: '#/parameters/orderProductFid'
        - name: quantity
          in: formData
          required: true
          type: number
          format: int64
      responses:
        200:
          description: Quantity updated
        default:
          description: Error
          schema:
[...]
